<div class="nav-viewport">

  <div class="nav-logo">
    <a href="/posts">
      <img class="logo" src="/images/logo.png" alt="Avant">
      <!-- <h2 class="logotxt VVNT">VVNT</h2> -->
    </a>
  </div>

  <!-- item views here -->
  <div class="menu"></div>

  <div class="social-links">
  	<a  target="_blank" href="http://twitter.com/vvvntmag"><img class="twitter-icon" img src="/images/twitter-icon.png"></a>
	<a  target="_blank" href="http://facebook.com/vvvntmag"><img class="fbook-icon" src="/images/fbook-icon.png"></a>
  </div>

</div>