<div class="nav-viewport">
  <a href="/posts">
    <div class="nav-logo">
      <a id="A" >A</a>
      <a id="V" >V</a>
      <a id="A-circle">A</a>
      <a id="NT"> NT</a>
    </div>
  </a>

  <!-- item views here -->
  <div class="menu"></div>

  <div class="social-links">
    <a href="http://twitter.com/vvvntmag/"><span id="menu-twitter" class="el-icon-twitter"></span></a>
    <a href="http://facebook.com/vvvntmag/"><span id="menu-facebook" class="el-icon-facebook"></span></a>
    <a href="http://vvvnt.com/rss/"><span id="menu-rss" class="el-icon-rss"></span></a>
  </div>

</div>