<h1>Edit {{title}}</h1>
<form>
  <div class="form-group">
    <label for="post-title" class="form-label">
      Title:
    </label>
    <input id="post-title" name="title" type="text" value="{{title}}">
  </div>

  <div class="form-group">
    <label for="post-excerpt" class="form-label">
      Excerpt:
    </label>
    <input id="post-excerpt" name="excerpt" type="text" value="{{excerpt}}">
  </div>

  <div class="form-group">
    <label for="post-body" class="form-label">
      Body:
    </label>
    <input id="post-body" name="body" type="text" value="{{body}}">
  </div>

  <button class="js-submit">Save</button>
  <button class="js-destroy">Delete</button>
</form>