<h1>{{ titleText }}</h1>
<form>
  <div class="form-group">
    <label for="post-title" class="form-label">
      Title:
    </label>
    <input id="post-title" name="title" type="text" value="{{title}}">
  </div>

  <div class="form-group">
    <label for="post-excerpt" class="form-label">
      Excerpt:
    </label>
    <input id="post-excerpt" name="excerpt" type="text" value="{{excerpt}}">
  </div>

  <div class="form-group">
    <label for="post-body" class="form-label">
      Body:
    </label>
    <textarea id="post-body" class="redactor body" name="body">
      {{{ body }}}
    </textarea>
  </div>

  <button class="js-submit">{{ submitText }}</button>
  <button class="js-delete">Delete</button>
</form>