@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin clearfix {
  *zoom: 1; // For IE 6/7 only
  &:before,
  &:after{
    content: " "; // 1
    display: table; // 2
  }
  &:after{
    clear: both;
  }
}

@mixin width-breakdown {
  max-width: $global-max-width;
  @media (min-width: $screen-sm-min) {
    width: 90%;
    margin: 0 auto;
  }
  @media (min-width: $screen-md-min) {
    width: 90%;
  }
  @media (min-width: $screen-lg-min) {
    width: 90%;
  }
}

@mixin padding-breakdown {
  padding: $global-padding / 2;
  @media (min-width: $screen-md-min) {
    padding: $global-padding;
  }
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}