/*
  Avaliable Fonts
  Raleway: 400, 100

*/
//$quat: 'Fanwood Text', serif;
$quat: 'Crimson', serif;
$jose: "Josefin Sans", sans-serif;
@font-face { font-family: VVVNT; src: url('/fonts/VVVNT.otf'); }


@font-face {
  font-family: "VVVNT";
  src: url("VVVNT.eot"); /* IE9 Compat Modes */
  src: local("VVVNT"),
       url("VVVNT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("VVVNT.woff") format("woff"), /* Modern Browsers */
       url("VVVNT.ttf") format("truetype"), /* Safari, Android, iOS */
       url("VVVNT.svg#svgFontName") format("svg"); /* Legacy iOS */
}

body {
  font-size: 100%;
  font-family: $jose;
  color: $black;
}

.fa-dark { color: $black; }

pullquote{
  border-top: 8px solid $black;
  border-bottom: 8px solid $black;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  font-weight: 600;
  font-family: $jose;
  float: right;
  width: 40%;
  margin-left: 1em;
  margin-top: 1.2em;
  padding-top: 0.5em;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  @media (max-width: $screen-sm-min) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 28px;
    margin-top: -0.2em;
  }
}
initial{
  @media (min-width: $screen-sm-min) {
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: $jose;
    color: $vvv-blue;
    float: left;
    margin-top: 0.4em;
    margin-right: 0.05em;
    margin-bottom: 0.01em;
    font-size: 6.6em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $vvv-blue;
  }
}
h1,
h2,
h3 {  font-size: 3em;
      letter-spacing: 0.05em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: $jose;

}
h4 {
      font-size: 2em;
      letter-spacing: 0.05em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: $jose;
}

h1 { font-size: 4em; letter-spacing: 0.05em; line-height: 1.2em; font-weight: 600;}

h2 {  font-size: 4em;
      letter-spacing: 0.05em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: $jose;
      &:hover {
        text-decoration:none;
      }
    }


h3 { font-size: 2.0em; letter-spacing: 0.05em; line-height: 1.2em;}

h4 { font-size: 2.0em; letter-spacing: 0.05em; line-height: 1.2em;}

a {
    color: $vvv-blue;
    @include transition( color .25s ease-in-out );
    &:hover {
      color: $mid-grey;
      text-decoration: none;
    }
    text-decoration: none;
  }

p {
    font-family: $quat;
    font-size: 2.4em;
    font-weight: lighter;
    letter-spacing: 0.03em;
    line-height: 1.6em;
}