<div class="subscribe-wrapper">
  <h3>Newsletter</h3>
  <div id="mc_embed_signup">

    <form action="http://vvvnt.us3.list-manage.com/subscribe/post-json?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button js-submit">
      </div>

    </form>

    <div class="message js-message"></div>

  </div>
</div>

<div class="static-links-wrapper">
  <a class="footer-about js-about" href="/about">About</a>
  <a class="footer-privacy js-privacy" href="/privacy">Privacy</a>
  <a class="footer-sponsorship js-sponsorship" href="/sponsorship">Sponsorship</a>
</div>

<div class="social-list">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="twitter">
  <a href="https://twitter.com/avantdotorg" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @avantdotorg</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="fb-follow" data-href="http://www.facebook.com/avantdotorg" data-colorscheme="dark" data-layout="button" data-show-faces="false"></div>
</div>

<a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0; width:80px;" src="http://mirrors.creativecommons.org/presskit/buttons/80x15/png/by-nc-sa.png" /></a>
