.menu .menu-viewport .card {
  position: relative; // used by pos:abso children
  overflow: hidden; // when images overflow their cards

  width: 100%;
  height: 130px; // take up all the height

  @media (min-width: $screen-sm-min) {
    width: 33%;
    float: left;
  }

  @media (min-width: $screen-md-min) {
    width: 20%;
    float: left;
    height: 100%;
  }

}

// all the cards in the .menu-links div need to take different widths
// TODO: remove the need for .menu-links div by being smarter with nesting the views in the app
.menu .menu-viewport .menu-links {
  .card{}
  @media (min-width: $screen-md-min) {
    width: 60%;
    float: left;
    height: 100%;
    .card{
      width: 33.3333% // now fitting three cards inside .menu-links
    }
  }
}