body.posts.show {
  #main {
    @media (max-width: $screen-sm-min) {
      padding-bottom: 20px;
    }
  }

  // just for the special carousel magic
  .selected img {
    opacity:0.5;
  }


  .share-buttons {
    margin-bottom: 5em;
    text-align: center;

  .fbook-share {
    &:hover {cursor:pointer;}
    height: 32px;
    margin-left: 3px;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 11px;
    a {text-decoration: none;}
    border: 1px solid #4964a1;
    @include transition( all .25s ease-in-out );
    display: inline;
    &:hover {
      border: 1px solid #4964a1;
      background: #4964a1;
      .share-child {
        color: $grey;
      }
    }
    .share-facebook {
      font-size: 14px;
    }
    .share-text {
      font-size: 16px;
      font-family: $jose;
      font-weight: bold;
      margin-bottom: 0px;
      margin-left: 4px;
    }
    .share-share {
      font-size: 14px;
      margin-left: 4px;
    }
    .share-child {
      display: inline;
      color: #4964a1;
    }
  }

  .twitter-share {
    &:hover {cursor:pointer;}
    height: 32px;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 11px;
    a {text-decoration: none;}
    margin-left: 10px;
    border: 1px solid #55acee;
    display: inline;
    @include transition( all .25s ease-in-out );
    &:hover {
      border: 1px solid #55acee;
      background: #55acee;
      .share-child {
        color: $grey;
      }
    }
    .share-twitter {
      font-size: 14px;
    }
    .share-text {
      font-size: 16px;
      font-family: $jose;
      font-weight: bold;
      margin-bottom: 0px;
      margin-left: 4px;
    }
    .share-share {
      font-size: 14px;
      margin-left: 4px;
    }
    .share-child {
      display: inline;
      color: #55acee;
    }
  }
}



  #post-region {
    .body-wrapper {
      margin-top: -20px;
      background-color: $grey;
      z-index: 1;
      margin-top: 400px;
      @media (max-width: $screen-sm-min) {
        margin-top: 56%;
      }
      position: relative;
      display: block;
    }
  }
}

body.posts.show .body {

  max-width: $global-max-width;
  //@include padding-breakdown;
  font-family: $quat;
  font-size: 1.9em;
  @include transition( font-size .25s ease-in-out );
  @media (max-width: $screen-sm-min) {
      font-size: 1.7em;
  }
  font-weight: lighter;
  letter-spacing: 0.01em;
  line-height: 2em;
  padding-top: 0px !important;

  img {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 0.2em;
  }

  p {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 2em;
  }
  .footnote {
    border-top: solid 1px $mid-grey;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-top: 0.6em;
    font-size: 0.85em;
    color: $mid-grey;
    // em {
    //   ::selection{
    //   color: white;
    //   background: $mid-grey;
    //   }
    // }
  //  :selection{
  //     color: white;
  //     background: $mid-grey;
  // } 
  }
  .footnote::selection{
      color: white;
      background: $mid-grey;
  }
      
  .photoCredit {
    font-family: $jose;
    font-size: 0.9em;
    font-weight: bold;
    color: $mid-grey;
  }
  .photoCredit::selection {
    color: white;
    background: $mid-grey;
  }
  .title{
    text-align: center;
    //@include width-breakdown;
    @include padding-breakdown;
    //@media (max-width: $screen-md-min) {
    //  width: 85%;
    //}
    font-size: 2.6em;
    //@include transition( all .25s ease-in-out );

    @media (max-width: $screen-sm-min) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: $screen-md-min) {
      font-size: 2.3em;
    }
    @media (max-width: $screen-lg-min) {
      padding-left: 0px;
      padding-right: 0px;
    }
    //text-align: left;
    //margin-top: 30px !important;
    font-family: $jose;
    color: $black;
    padding-top: 30px !important;
  }
  .authors {
    li {display: inline;}
    padding-left: 0px;
    list-style-type: none;
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    font-size: 1.4em;
    //@include transition( all .25s ease-in-out );
    @media (max-width: $screen-md-min) {
      font-size: 1.4em;
    }
    display: inline;
  }
  .tags {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    font-size: 0.9em;
    margin-left: -40px;
    margin-bottom: 30px;
    cursor: default;
    li {
      white-space: nowrap;
      display: inline;
      border: solid 1px $vvv-blue;
      padding: 5px;
      padding-right: 6px;
      padding-left: 6px;
      padding-bottom: 3px;
      margin-right: 3px;
      margin-left: 0px;
      line-height: 1.5em;
      &:hover {
        //color: $vvv-blue;
        @include transition( color .25s ease-in-out );
        border: solid 1px $vvv-blue;
        @include transition( border .25s ease-in-out );
      }
    }
  }
  .date {
    font-family: $jose;
    font-weight: bold;
    color: $mid-grey;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 0px;
    }
  .date::selection {
    color: white;
    background: $mid-grey;
  }

  blockquote {
    border-left: solid 8px #DEDEDE;
    color: #757575;
  }

  pre {
    border: none;
    font-size: 0.8em;
    line-height: 250%;
    margin: 1.2em;
    margin-left: 0;
    padding-left: 1.6em;
    margin-top: 0;
    border-left: double 8px $mid-grey;
    border-radius: 0px;
  }

  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: 0 auto;
  }
  @media (min-width: $screen-md-min) {
    width: 70%;
  }
  //@media (min-width: $screen-lg-min) {
  //  width: 640px;
  //}

}