body.posts.show {
  #main {
    @media (max-width: $screen-sm-min) {
      padding-bottom: 20px;
    }
  }
  .share-buttons {
    margin-bottom: 5em;
    //text-align: center;
  }
  .share-wrapper {
    text-decoration: none;
    font-family: $jose;
    letter-spacing: 0.1em;
    color: $grey;
    font-weight: 500;
    font-size: 1.5em;
    display: inline;
    padding: 10px;
  }
  .post-share {
    margin-left: 12px;
    margin-top: -3px;
    color: $grey;
    .fa-stop {font-size: 19px; margin-top: 20px;}
    .fa-facebook {color: $black;}
    
  }
  .fbook-share {
    background: $black;
    padding-top: 5px;
    @include transition( background .25s ease-in-out );
    .fa-facebook {margin-left: -70px; color: $black;}
    &:hover {
      background: $vvv-blue;
    }
    display: inline-block;
    .fa-facebook {
      display: inline;
      color: $grey;
      //margin-top: 10px;
      font-size: 15px;
      text-align: center;
    }
  }
  .share-out {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 14px;
  }
  .twitter-share {
    margin-left: 10px;
    background: $black;
    padding-top: 5px;
    &:hover {
      background: $vvv-blue;
    }
    display: inline-block;
    .fa-twitter {
      display: inline;
      color: $grey;
      margin-top: 10px;
      font-size: 17px;
      width: 170px;
      height: 30px;
      text-align: center;
    }
  }
  #post-region {
    .carousel {
      width: 110%;
      margin-left: -5%;
    @media (max-width: $screen-sm-min) {
      width: 100%;
      margin-left: 0%;
    }
    .carousel-caption {
      height: 175px;
      background-color: white;
      text-shadow: none;
      font-family: $quat;
      color: $black;
      text-align: left;
      width: 100%;
      padding: 0 20px;
      margin: none;
      padding: none;
      padding-bottom: 23px;
      margin-left: -20%;
      @media (max-width: $screen-sm-min) {
        margin-left: -15%;
      }
      margin-top: 0px;
      position: relative;
    }
    .carousel-indicators {
      bottom: 30px;
      li {
        border: solid 1px $black;
      }
    }
    .carousel-indicators .active {
      background: $black;
      width: 10px;
      height: 10px;
      margin: 1px;
    }
    .carousel-control {
      text-shadow: none;
      font-size: 1.5em;
      color: $black;
      opacity: 1;
      &:hover {
        color: $vvv-blue;
        @include transition( color .25s ease-in-out );
      }
    }
    .chevron{
        width:30%;
        position:absolute;
        top:40%;
        @media (max-width: $screen-sm-min) {
          top: 38%;
        }
      }
      .chevron-left{
        left:-33%;
        @media (max-width: $screen-sm-min) {
          left: -38%;
        }
      }
      .chevron-right{
        right:-33%;
        @media (max-width: $screen-sm-min) {
          right: -38%;
        }
      }
    }
  }
}

body.posts.show .body {

  max-width: $global-max-width;
  @include padding-breakdown;
  font-family: $quat;
  font-size: 1.7em;
  font-weight: lighter;
  letter-spacing: 0.01em;
  line-height: 2em;
  padding-top: 0px !important;

  img {
    //@include padding-breakdown;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
  }

  p {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 2em;
  }
  .footnote {
    border-top: solid 1px $mid-grey;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-top: 0.6em;
    font-size: 0.8em;
    color: $mid-grey;
  }
  .footnote::selection {
      color: white;
      background: $mid-grey;
  }
  .photoCredit {
    font-family: $jose;
    font-size: 0.9em;
    font-weight: bold;
    color: $mid-grey;
  }
  .photoCredit::selection {
      color: white;
      background: $mid-grey;
  }
  .authors {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    font-size: 1.6em;
    display: inline;
  }
  .tags {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    font-size: 0.9em;
    margin-left: -40px;
    margin-bottom: 30px;
    cursor: default;
    li {
      display: inline;
      border: solid 1px $vvv-blue;
      padding: 5px;
      padding-right: 6px;
      padding-left: 6px;
      padding-bottom: 3px;
      margin-right: 3px;
      margin-left: 0px;
      line-height: 1.5em;
      &:hover {
        //color: $vvv-blue;
        @include transition( color .25s ease-in-out );
        border: solid 1px $vvv-blue;
        @include transition( border .25s ease-in-out );
      }
    }
  }
  .date {
    font-family: $jose;
    font-weight: bold;
    color: $mid-grey;
    font-size: 0.9em;
    margin-bottom: 10px;
    }

  blockquote {
    border-left: solid 8px #DEDEDE;
    color: #757575;
  }

  pre {
    border: none;
    font-size: 0.8em;
    line-height: 250%;
    margin: 1.2em;
    margin-left: 0;
    padding-left: 1.6em;
    margin-top: 0;
    border-left: double 8px $mid-grey;
    border-radius: 0px;
  }

  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: 0 auto;
  }
  @media (min-width: $screen-md-min) {
    width: 60%;
  }
  @media (min-width: $screen-lg-min) {
    width: 640px;
  }

}