body.posts.show .body {
  max-width: $global-max-width;

  @include padding-breakdown;
  font-family: $quat;
  font-size: 1.7em;
  font-weight: lighter;
  letter-spacing: 0.01em;
  line-height: 2em;

  img {
    @include padding-breakdown;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.4em;

  }
  .authors {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
  }
  .tags {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    font-size: 0.8em;
  }
  .date {
    font-family: $jose;
    font-weight: bold;
    color: $mid-grey;
    font-size: 0.9em;
  }

  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: 0 auto;
  }
  @media (min-width: $screen-md-min) {
    width: 60%;
  }
  @media (min-width: $screen-lg-min) {
    width: 640px;
  }

}