body.posts.show {


	.list-inline {text-align: center; margin-top: 10px;}

	.carousel-control.right {
		background-image: none;
	}
	.carousel-control.left {
		background-image: none;
	}

	.carousel {
    	width: 120%;
    	margin-left: -10%;
    	&:hover {
    		.carousel-control { opacity: 0.5;}
    	}
    	@media (max-width: $screen-sm-min) {
    		width: 100%;
    		margin-left: 0%;
    	}

	    .carousel-caption {
	    	text-shadow: none;
	    	font-family: $quat;
	    	color: $black;
	    	text-align: left;
	    	width: 100%;
	    	padding: 0 20px;
	    	margin: none;
	    	padding: none;
	    	padding-bottom: 23px;
	    	margin-left: -20%;
	    	@media (max-width: $screen-sm-min) {
	        	margin-left: -15%;
	      	}
	    	margin-top: 0px;
	    	position: relative;
	    }
	    .carousel-indicators {
	    	//z-index: 99;
	    	//top: 540px;
	    	li {
	    		border: solid 1px $mid-grey;
	      	}
	    }
	    .carousel-indicators .active {
	    	background: $mid-grey;
	    	width: 10px;
	    	height: 10px;
	    	margin: 1px;
	    }
	    .carousel-control {
	    	text-shadow: none;
	    	font-size: 1.5em;
	    	color: $grey;
	    	opacity: 0;
	    	@include transition( opacity .4s ease-in-out );
	    	//&:hover {
	        //	color: $mid-grey;
	        	//@include transition( color .4s ease-in-out );
	      	//}
	    }
	    .chevron{
	        width:30%;
	        @media (max-width: $screen-sm-min) {
	        	top: 38%;
	        }
	    }
	    .chevron-left{
	    	//left:-33%;
	    	font-size: 1.3em;
	    	margin-top: 150%;
	        @media (max-width: $screen-sm-min) {
	        	left: -38%;
	        }
	   	}
		.chevron-right{
			//right:-33%;
			font-size: 1.3em;
			margin-top: 150%;
		   	@media (max-width: $screen-sm-min) {
		   		right: -38%;
	   		}
	    }
	}
}