body.posts.show header{

  .header-image-wrapper{
    max-height: 400px;
    width: 100%;
    overflow: hidden; // keep img in check

    // position:fixed;
    // z-index: -1;

    .header-image{
      width: 100%;
      // position:fixed;
      // z-index:-1;
      top: 60px;
    }
  }

  .header-title{
    @include width-breakdown;
    @include padding-breakdown;
    padding-top: 1em;
    font-family: $jose;
    color: $black;
  }

  @media (min-width: $screen-md-min) {}

}

blockquote {
    border-left: solid 8px #DEDEDE;
}

pre {
  background: none;
  border: none;
}

.meta-content {
  text-align: center;
}