body.posts.show header{

  .header-image-wrapper{
    max-height: 400px;
    overflow: hidden; // keep img in check
    .header-image{
      width: 100%;
      // position:fixed;
      z-index:-1;
      top: 60px;
    }
  }

  .header-title{
    @include width-breakdown;
    @include padding-breakdown;

    .title{
      margin-top: 45px;
    }
  }

  @media (min-width: $screen-md-min) {}

}