.redactor_editor .photoCredit {
	font-size: 0.8em !important;
	margin-bottom: 10px;
}


.redactor_toolbar li a.redactor_btn_foot {
	background-image: url('../images/foot.png');
	background-position: 0;
	background-repeat: no-repeat;
}

.redactor_editor .footnote {
	font-size: 0.8em !important;
	margin-bottom: 10px;
}

.redactor_toolbar li a.redactor_btn_superscript {
    position:relative;
}
.redactor_toolbar li a.redactor_btn_superscript:before {
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  left: -5px;
  content: "\f12b";
}
 #redactor-region {
 	width: 75%;
 	margin: 0 auto;
 }
.redactor-toolbar {
	box-shadow: none;
	background: $grey;
	li a:hover {background-color: $avant-blue;}
}
.redactor-editor {
	border: 1px solid $light-grey;
	border-top: none;
	max-height: 550px !important;
}
.redactor-box #post-body {
	background-color: $white;
	color: $black;
	border: 1px solid $light-grey;
	padding:15px;
	font-size: 11px;
} 