// while the page is loading hide the footer
body.loading .footer {
  visibility: hidden;
}

.footer {
  visibility: visible;
  border-top: 1px solid $black;
  height: 165px;
  @media (max-width: $screen-sm-min) {
  	margin-top: -20px;
  	height: 250px;
  }
  position: relative; // for the kiddies
}