.footer .static-links-wrapper {
  line-height: 3.3em;
  width: 150px;
  position: absolute;
  text-align: right;
  bottom: 23px;
  right: 18px;

  a {
    display: inline-block;
    width: 90px; // hard coded to the width of sponsorship
    font-family: $jose;
    font-size: 1.8em;
    font-weight: 600;
    color: $black;
    letter-spacing: 0.05em;
    text-decoration: none;

    &:hover{
      color: $avant-blue;
      @include transition( color .25s ease-in-out );
    }
    
  }
}
