$primary-highlight: rgba(95, 122, 153, 1);
$secondary-highlight: rgba(191, 189, 189, 1);
$tertiary-highlight: rgba(219, 219, 218, 1);

$primary-color: rgba(68, 68, 68, 1);

$primary-font: 'Josefin Sans', sans-serif;

$primary-bg: rgba(255,255,255, 1);

$gutter: 1em;

//yiq color defaults
$yiq-contrasted-dark-default: #444444;
$yiq-contrasted-light-default: #ffffff;
$yiq-contrasted-threshold: 128;

$yiq-debug: false;