<h1>Login</h1>
<button class="js-signup">Signup</button>
<!-- add a button for forgot password -->
<!-- add socail auths -->
<form>
  <div class="form-group">
    <label for="username" class="form-label">
      Username:
    </label>
    <input id="username" name="username" type="text" value="">
  </div>

  <div class="form-group">
    <label for="password" class="form-label">
      Password:
    </label>
    <input id="password" name="password" type="password" value="">
  </div>

  <button class="js-login">Login</button>
</form>
