<div class="nav-viewport">
  <a href="/posts">
    <div class="nav-logo">
      <a id="AVANT" href="http://avant.org">AVANT</a>
      <a id="A-circle">A</a>
    </div>
  </a>
  <a class="nav-links" href="/media/">media</a>
  <a class="nav-links" href="/threads/">threads</a>
  <!-- item views here -->
  <div class="menu"></div>

  <div class="social-links">
    <a href="http://twitter.com/avantdotorg/" class="menu-sub" target="_blank"><span id="menu-twitter" class="el-icon-twitter"></span></a>
    <a href="http://facebook.com/avantdotorg/" class="menu-sub" target="_blank"><span id="menu-facebook" class="el-icon-facebook"></span></a>
    <a href="http://instagram.com/avantdotorg/" class="menu-sub" target="_blank"><span id="menu-instagram" class="el-icon-instagram"></span>
    <a href="http://soundcloud.com/avantdotorg/" class="menu-sub" target="_blank"><span id="menu-soundcloud" class="el-icon-soundcloud"></span></a>
    <a href="http://vimeo.com/avantdotorg/" class="menu-sub" target="_blank"><span id="menu-vimeo" class="el-icon-vimeo"></span></a>
    <a href="https://www.youtube.com/c/AvantOrg" class="menu-sub" target="_blank"><span id="menu-youtube" class="el-icon-youtube"></span></a>
    <a href="https://www.github.com/avant" class="menu-sub" target="_blank"><span id="menu-github" class="el-icon-github"></span></a>
    <a href="http://avant.org/rss/" class="menu-sub" target="_blank"><span id="menu-rss" class="el-icon-rss"></span></a>
    <span class="menu-plus-wrapper"><span class="el-icon-plus-sign"></span></span>
  </div>

</div>

<div class="nav-back"></div>