<div class="loading-icon">
	<i class="fa fa-refresh fa-spin"></i>
</div>

<label id="image-input-label" for="image-input" class="form-label">
  Set Your User Image:
</label>

<input class="image-input" name="image" type="file" style="display: none;">

<button class="btn js-crop" disabled="disabled">Crop</button>

<div id='image-preview'></div>

<div id='image-current-container'>
  <img id="image-current" src="" alt="">
</div>

<button class="btn js-image-submit" disabled="disabled">Save Image</button>

<div id="dragPad">
  DRAG PHOTO ONTO ME
</div>
