<header>
  <div class="header-image-wrapper">
    <img class="header-image" src="{{ headerImageUrl }}" alt="">
  </div>
  <h2 class="header-title">{{ title }}</h2>
</header>
<div class="body">
  <div class="meta-content">
    <p class="authors">{{ authors }}</p>
    <p class="date">{{ date }}</p>
    <p class="tags">{{ tags }}</p>
  </div>
  <div class="content">{{{ body }}}</div>
</div>

<div class="share-buttons">
  <ul>
    <li><a href='{{ facebookURL }}'>Facebook</button></a></li>
    <li><a href='{{ twitterURL }}'>Twitter</button></a></li>
  </ul>
</div>