<header>
  <div class="header-image-wrapper">
    <img class="header-image" src="{{ headerImageUrl }}" alt="">
  </div>
</header>
<div class="body-wrapper">
  <div class="body">
    <div class="meta-content">
      <h2 class="title">{{ title }}</h2>
      <p class="authors">{{ authors }}</p>
      <p class="date">{{ date }}</p>
      <ul class="tags">
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="content">{{{ body }}}</div>
      <div class="share-buttons">
        <div class="fbook-share"><a target="_blank" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=250,toolbar=1,resizable=0'); return false;" href='{{{ facebookURL }}}'>
        <span class="post-share fa-stack fa-lg">
        <i class="fa fa-stop fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse pull-right"></i>
        </span>
        <p class="share-wrapper">SHARE<i class="share-out fa fa-share"></i></p></a></div>

        <div class="twitter-share"><a target="_blank" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=250,toolbar=1,resizable=0'); return false;" href='{{{ twitterURL }}}'><i class="post-share fa fa-twitter"></i><p class="share-wrapper">TWEET<i class="share-out fa fa-share"></i></p></a></div>
      </div>
  </div>
</div>