////////////
// PARENT //
////////////


////////////
// SPLASH //
////////////

.splash-region .card-bottom .title {
  -webkit-text-fill-color: white !important;
}

body.posts.list #splash-region{

  .post {
    padding-bottom: 0px !important;
    .post-hi {
      @media (min-width: $screen-xs-min){
        padding-top: 0px;
            margin-bottom:0px;
            @include transition( all .25s ease-in-out );
            box-shadow: inset 0 0px 0px 0px $white;
            -moz-box-shadow: inset 0 0px 0px 0px $white;
            -webkit-box-shadow: inset 0 0px 0px 0px $white;
          }
    }
  }

  .card-outer .card {height:300px;}

  .splash {
    .post-image-wrapper {
      max-height: 400px;
      overflow: hidden;
      @media (max-width: $screen-xs-max){max-height: 200px;}
      //.post-img {height:600px;}
    }

    .content-wrapper {
      position: absolute;
      top: 100px;
      text-align: right;
      width: 80%;
      left: 9%;
      @media (max-width: $screen-xs-max){
        position: relative;
        top: auto;
        text-align: left;
        width: auto;
        left: auto;
      }
      @media (max-width: $screen-md-max){
        left: 2%;
        width: 96%;
      }

      .title {
        width: 100%;
        font-size: 5em;
        font-weight: bold;
        -webkit-text-fill-color: $trans; //transparent
        -webkit-text-stroke: 1px $splash-title; //white;
        color: $black;
        @media (max-width: $screen-xs-max){
          -webkit-text-fill-color: $black;
          -webkit-text-stroke: 0px;
          font-weight: 600;
          font-size: 30px;
        }
        @media (min-width: $screen-xs-min){
          margin-bottom: 10px;
        }
        @media (min-width: $screen-sm-min){
          color: white; //white
        }

      }

      .authors {
        list-style-type: none;
        color: $splash-title; //white;
        padding-top: 0px;
        top: 150px;
        font-size: 2.2em;
        padding-right: 0px;
        @media (max-width: $screen-xs-max){
          top: auto;
          padding-top: inherit;
            display: inline;
            li {display: inline; margin-right: 12px;}
            list-style-type: none;
            padding-left: 0px;
            font-family: $jose;
            font-weight: bold;
            color: $avant-blue;
            letter-spacing: 0.05em;
            font-size: 2em;
            margin-top: 2px;
            padding-right: 10px;
        }
      }

      .excerpt {
        font-size: 1.9em;
        @include transition( font-size .25s ease-in-out );
          @media (max-width: $screen-xs-max) {
              font-size: 1.7em;
          }
        display: none;
        @media (max-width: $screen-xs-max){
          display: block;
            margin-bottom: 13px;
            margin-top: 8px;
        }
      }

      .date {
        font-size: 1.6em;
        display: none;
        @media (max-width: $screen-xs-max){
          display: inline;
          width:150px;
            white-space: nowrap;
        }
      }

      .tags {
        margin-top: 20px;
        padding-top: 0px;
        color: $splash-title; //white;
        li {
          border: solid 1px $splash-title; //white;
            white-space: nowrap;
        }
        @media (max-width: $screen-xs-max){
          margin-top: 0px;
          font-family: $jose;
            font-weight: bold;
          color: $avant-blue;
            letter-spacing: 0.05em;
            font-size: 1.4em;
            margin-bottom: 0px;
            padding-left: 0px;
            list-style-type: none;
            li {
              display: inline;
              border: solid 1px $avant-blue;
            padding: 3px;
              padding-right: 5px;
              padding-left: 5px;
              padding-bottom: 2px;
              margin-right: 3px;
              margin-left: 0px;
              margin-bottom:4px;
              line-height: 2.2em;
              &:hover {border: solid 1px $avant-blue;}
            }
        }
      }
    }
  }
}


///////////////
// CARD GRID //
///////////////

#posts-region {
  @media (min-width: $screen-sm-min){
    padding-top: 0px;
  }
}

.posts {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

[data-columns]::before {
  visibility: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

@media screen and (max-width: $screen-xs-max){
  .js-salvattore[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .js-salvattore[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  .column:nth-child(1) {
    padding-right: 8px;
  }
  .column:nth-child(2) {
    padding-left: 8px;
  }
}

@media (min-width: $screen-md-min) {
  .js-salvattore[data-columns]::before {
    content: '3 .column.size-1of3';
  }
  .column:nth-child(1) {
    padding-right: 8px;
  }
  .column:nth-child(2) {
    padding-left: 8px;
    padding-right: 8px;
  }
  .column:nth-child(3) {
    padding-left: 8px;
  }
}

  .post-image-wrapper{
    max-height: 200px; // the image cannot be taller than the screen
    overflow: hidden;
    img{ width: 100%; }

  }
  .post-img {
    width:380px;
  }


$black: #333333;
$blue: #2B4AB3;
$font: 'Crimson Text', serif;
$time: 0.35s;
$spacing: 10px;

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-outer {
  position: relative;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom:16px;
  cursor: pointer;
}

.essay.card-outer {
  height:300px;
  display:block;
}

.essay .card {height: 200px;}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.post-img {
  $pad: 0;
  opacity: 1;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //transition: opacity $time;
  z-index: 0;
}

.title {
  width:100%;
  padding-left:12px;
  padding-right:12px;
  padding-top:12px;
  font-size: 25px !important;
  opacity: 1;
  margin-top: 10px;
  z-index: 2 !important;
  line-height: 1.1em;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $black;
  text-align: center;
  margin: 0 auto;
}

.authors {
  display:block;
  width:100%;
  padding-top: 10px;
  z-index: 3;
  transition: opacity $time;
  line-height: 1.5em;
  max-width: 50%;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}

.date {
  z-index: 4 !important;
  opacity: 0;
  transition: opacity $time;
  font-weight: bold;
  color: $black;
  font-size: 14px;
  float: right;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
  right: 16px;
  letter-spacing: 1.3px;
}
.card-bottom {
  padding-bottom: 0px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  width: 100%;
  height: 50px;
  display:block;
}

.excerpt {
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: -100px;
  padding: 5px 10px 10px 10px;
  line-height: 2rem;
  clear: both;
  opacity: 0;
  z-index: 100;
  transition: opacity $time;
  font-size: 14px;
  color: $black;
  display: block !important;
}

.tags {
  width: 94.5%;
  text-align: center;
  opacity: 0;
  transition: opacity $time;
  position: absolute;
  display: block;
  margin: -10px 0px 0px 0px;
  left: 10px;
  color: $black;
  padding: 0;
  font-size: 14px;
  overflow: auto;
  text-align: center;
  @extend %vertical-align;
  z-index: 3;

  li {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 2px 7px 2px 7px;
    margin: 0px 3px 9px 3px;
    border: 1px solid $black;
    transition: color $time, background $time;
    a {white-space: nowrap;}
  }
}
.card-box {
  width: 50%;
  margin: 0 auto;
}
.card-outer:hover {
  .card 
  .post-img { opacity: 0.3; }
  .card-bottom {opacity:0;}
}