.nav .nav-viewport {
  position: relative; // for the kids, honey
  overflow: hidden; // get kids height
  margin: 0 auto;
  border-bottom: 1px solid $black;

  .menu-toggle{
    display: block;
    position: relative;
    z-index: 9999;
    .hamburger {
      font-size: 2em;
      padding: $global-padding;
      color: $black;
    }
    .hamburger:hover{
      color: $vvv-blue;
      transition: color .25s ease-in-out;
      -moz-transition: color .25s ease-in-out;
      -webkit-transition: color .25s ease-in-out;
    }
  }

  .nav-logo {
    position: absolute;
    top: $global-padding / 2;
    right: $global-padding;
    z-index: 9999; // above the open menu

    width: 40px;
    height: 40px;
    .logo{
      margin-top:5px;
      width: 80%;
    }
  }

  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) {}

}