nav.nav .nav-viewport{
  position: fixed; // for the kids
  z-index: 9; // above the open menu

  width: 100%;
  background: white;
  border-bottom: 1px solid black;

  .nav-logo {
    margin: 10px 10px 0 20px;
    width: 40px;
    height: 40px;

    float: left;

    .logo{
      margin-top:5px;
      width: 80%;
    }
  }

  .menu {
    float: right;
    padding-right: 20px;

    a {
      color: $black;
      .title {font-size: 2em;}
      &:hover{}
    }
  }


  @media (min-width: $screen-lg-min) {
    width: 80%;
    margin: 0 auto;
  }
}

nav.nav {

  @media (min-width: $screen-lg-min) {
    padding: 0 10%;
    margin-left: -10%;
  }
}