.home .posts {
  @include padding-breakdown;
  // max-width: $global-max-width;

  width: auto;
  margin: 0 auto;

  background: lighten(grey, 20%);
  overflow: auto;

  @media (min-width: $screen-md){
    padding-top: $collapsed-nav;
  }
}