.home .posts .post {
  position: relative;

  background: white;
  border: 1px solid rgba(black, 0.5);
  @include padding-breakdown;
  margin: 10px 0;

  h2{}
  .post-image-wrapper{
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
    img{
      width: 100%;
    }
  }
  p{
    font-size: 1.6em;
  }

  @media (min-width: $screen-sm){
    margin: 10px;
    width: 47%;
    float: left;
  }
  @media (min-width: $screen-md){
    width: 31%;
  }
  @media (min-width: $screen-lg){
    width: 23%;
  }
}