body.posts.show .staff-container{
	@include flexbox();
	flex-flow: wrap;
	// flex-justify: space-around;
	@include clearfix;

	margin-bottom: 30px;

	.staff {
		// @include flex(0 0 auto);
		text-align: left;

		width: 100%;
		margin: 10px 0;
		padding: 20px;


		border: 0px solid grey;
		background-color: white;

		img {
			float: left;
			border-radius: 100%;
			width: 100%;
			max-width: 97px;
			margin-right: 15px;
			margin-bottom: 5px;
			margin-top: 5px;
			display: inline;
			
			@media (max-width: $screen-sm-min) {
				max-width: 86px;
				margin-top: 5px;
			}

		}

		.role {
			display: table-cell;
			vertical-align: middle;
			height:100px;
			margin-top: 5px;
		}
		.bod {
			display:inline-block;
			//margin-top: 15px;
		}
	}

	@media (min-width: $screen-sm-min) {
		.staff {
			width: 46%;
			float: left;
			margin: 1%;
		}
	}
}