<header>
  <div class="header-image-wrapper">
    <img class="header-image" src="{{ headerImageUrl }}" alt="">
  </div>
</header>
<div class="body-wrapper">
  <div class="body">
    <div class="meta-content">
      <h2 class="title">{{ title }}</h2>
    	<p class="authors">{{ authors }}</p>
      <p class="date">{{ date }}</p>
      <ul class="tags">
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>

<!--     <div class="share-buttons share-top">

      <div class="fbook-share">
        <span class="share-facebook share-child el-icon-facebook"></span>
        <p class="share-child share-text">SHARE</p>
        <span class="share-share share-child el-icon-share-alt"></span>
      </div>

      <div class="twitter-share">
        <span class="share-twitter share-child el-icon-twitter"></span>
        <p class="share-child share-text">TWEET</p>
        <span class="share-share share-child el-icon-share-alt"></span>
      </div>

    </div> -->

    <div class="content">
      <div class="vanillaContainer">{{{ body }}}</div>
      <div class="moduleContainer"></div>
    </div>

    <div class="share-buttons share-bottom">

      <div class="fbook-share">
        <span class="share-facebook share-child el-icon-facebook"></span>
        <p class="share-child share-text">SHARE</p>
        <span class="share-share share-child el-icon-share-alt"></span>
      </div>

      <div class="twitter-share">
        <span class="share-twitter share-child el-icon-twitter"></span>
        <p class="share-child share-text">TWEET</p>
        <span class="share-share share-child el-icon-share-alt"></span>
      </div>

    </div>

  </div>
</div>