body {
  background-color: $grey;
}

body #main{
  padding-top: $collapsed-nav;
}

body{
	padding-left: 10px;
	padding-right: 10px;

	@media (min-width: $screen-sm-min){
		padding: 0;
	}

  @media (min-width: $screen-lg-min){
    padding: 0 10%;
  }
}