// always have scroll bar on so that there is not a
// jump when the content loads
html { overflow-y: scroll; }

body {
  background-color: $grey;
}

body #main{
  padding-top: $collapsed-nav;
}

body{
	padding-left: 20px;
	padding-right: 20px;

	//@media (min-width: $screen-sm-min){
	//	padding: 0;
	//}

  @media (min-width: $screen-lg-min){
    padding: 0 10%;
  }
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}