// always have scroll bar on so that there is not a
// jump when the content loads
html { overflow-y: scroll; }

body {
  background-color: $grey;
}

body #main{
  padding-top: $collapsed-nav;
}

body{
	padding-left: 20px;
	padding-right: 20px;

	//@media (min-width: $screen-sm-min){
	//	padding: 0;
	//}

  @media (min-width: $screen-lg-min){
    padding: 0 10%;
  }
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}
.btn {
  opacity: 1;
  pointer-events: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    margin-right: 25px;
    text-align: center;
    height: 1.7em;
    vertical-align: middle;
    border: solid 0px $grey;
    color: white;
    background-color: $black;
    font-size: 16px;
    @include transition( background-color .25s ease-in-out );
    &:hover {
      background-color: $vvv-blue;
    }
    &:focus {
      background-color: $black;
      outline: none;
    }
}
.btn[disabled] {pointer-events: auto;
  color:white;
  //opacity: 1;
  //&:hover{
  //  cursor: pointer;
  //}
}
button {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    margin-right: 25px;
    text-align: center;
    height: 1.7em;
    vertical-align: middle;
    border: solid 0px $grey;
    color: white;
    background-color: $black;
    font-size: 16px;
    @include transition( background-color .25s ease-in-out );
    &:hover {
      background-color: $vvv-blue;
    }
    &:focus {
      background-color: $black;
      outline: none;
    }
}



select#post-published { 
    overflow:hidden; /* this hides the select's drop button */
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin:0; 
    background: white url(formelements-select.png) no-repeat bottom right; 
    /* this is the new drop button, in image form */
    width:8em; border-radius:0px; 
    //box-shadow: 0 0px 0px rgba(0,0,0,0.2); 
    //border: solid 1px #ccc; 
    border-radius: 0px 0;
}

select#post-published select { 
    width:115% /* this percentage effectively extends the drop down button out of view */; 
    background-color:transparent /* this hides the select's background making any styling visible from the div */; 
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    box-shadow:none; 
    padding:0.3em 0.5em; /* padding should be added to the select, not the div */
}

.ie7 select#post-published {border:none; }
.ie7 select#post-published select { 
    width:100%; 
    background-color:white; 
    border: solid 1px #ccc; 
    padding:0.3em 0.5em; 
}