<div class="logo-wrapper">
  <img class="logo" src="" alt="">
</div>

<div class="subscribe-wrapper">
  <h3>Newsletter</h3>
  <div id="mc_embed_signup">

    <form action="http://vvvnt.us3.list-manage.com/subscribe/post-json?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button js-submit">
      </div>

    </form>

    <div class="message js-message"></div>

  </div>
</div>

<div class="social-list">

    <div><a href="https://twitter.com/vvvntmag" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @vvvntmag</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>

    <div><iframe class="fbook-follow-button" src="//www.facebook.com/plugins/follow.php?href=http%3A%2F%2Fwww.facebook.com%2Fvvvntmag&amp;width&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;show_faces=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe></div>

</div>

<div class="static-links-wrapper">
  <a class="footer-about" href="/about">About</a></br>
  <a class="footer-privacy" href="/privacy">Privacy</a></br>
  <a class="footer-sponsorship" href="/sponsorship">Sponsorship</a></br>
</div>
