<div class="logo-wrapper">
  <img class="logo" src="" alt="">
</div>

<div class="subscribe-wrapper">
  <h3>Newsletter</h3>
  <div id="mc_embed_signup">
    <form action="http://vvvnt.us3.list-manage.com/subscribe/post?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>
</div>

<a href="#">About</a>
<a href="#">Privacy</a>
<a href="#">Sponsorship</a>

<ul class="social-list">
  <li>
    <a href="" class="twitter">
      <span class="fa-stack fa">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-dark icon"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="" class="facebook">
      <span class="fa-stack fa">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-dark icon"></i>
      </span>
    </a>
  </li>
</ul>
