  /////////////////////
 //  SPLASH REGION  //
/////////////////////

.thread{
  .header-image{
    width:100%;
  }
  .post-image-wrapper {
    max-height:400px;
    overflow: hidden;
  }
  .title {
    font-family: $jose
  }
}


