@-moz-document url-prefix() {
  nav.nav .nav-viewport .nav-logo #A{
    top: 10.5px !important;
  }
}
nav.nav .nav-viewport{

  position: fixed;
  z-index: 9;
  width: calc(100% - 40px);
  height: $collapsed-nav;
  background: $grey;
  border-bottom: 1px solid $black;
  a {text-decoration: none;}

  .nav-logo {
    display: block;
    text-align: center;
    margin: 0px auto;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: $screen-xs-max) {
      width: 180px;
      position: absolute;
      text-align: left;
    }

    #AVANT {
      margin: 0 auto;
      position: relative;
      font-size: 2.7em;
      top: 13px;
      color: $black;
      letter-spacing: .5em;
      padding-left: 12px;

      @media (max-width: $screen-xs-max){
        display: none;
      }
    }

    #A-circle {
      top: 15px;
      position: absolute;
      color: $black;
      font-family: $vvvnt;
      font-size: 6.3em;
      line-height: 20px;
      margin-left:18px;

      @media (min-width: $screen-sm-min){
        left:50%;
        margin-left: -18px;
        display: none;
      }
    }
  }

  .title{
    float: right;
    font-size: 1.8em;
    padding-top: 2px;
    display: inline;
    font-family: $jose;
    text-decoration: none;
    &:hover{
      color: $vvv-blue;
      @include transition( color .25s ease-in-out );
    }
  }

  .menu {
    float: right;
    padding-right: 20px;
    a {color: $black;}
  }

  @media (min-width: $screen-lg-min) {
    width: 80%;
    margin: 0 auto;
  }
}


// to achieve the center, padded nav bar
nav.nav {

  @media (min-width: $screen-lg-min) {
    padding: 0 10%;
    margin-left: -10%;
  }
}