// while the page is loading hide the footer
body.loading .footer {
  visibility: hidden;
}

.footer {
  visibility: visible;
  border-top: 1px solid $black;

  position: relative; // for the kiddies
}

.license {
	margin: auto;
	text-align: center;
	display: block;
	margin-bottom: 40px;

	@media (min-width: $screen-md-min) {
	    position: absolute;
	    text-align: left;
	    top: 110px;
	    left: 18px;
  }
}