// while the page is loading hide the footer
body.loading .footer {
  visibility: hidden;
}

.footer {
  visibility: visible;
  border-top: 1px solid $black;

  position: relative; // for the kiddies
}