.footer {
  ul{
      overflow: auto; // adopt childrens height
      font-size: 1.7em; // set font size for text and icons
      padding-left: 0; // remove default ul padding
  }
  li {
    list-style: none; // remove default li bullet
    display: inline-block; // get li to flow inline !IE7
    text-transform: uppercase; // make all caps
    margin-bottom: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .social-list {
    text-align: center;
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: 15px;

    .twitter {
      width: 110px;
      display: inline-block;
    }
    .facebook{
      width: 110px;
      display: inline-block;
      padding-left: 15px;
    }
  }

  @media (min-width: $screen-md-min) {
    .social-list{
      position: absolute;
      top: 40px;
      width: 25%;
    }
  }

}