.footer {
  ul{
      overflow: auto; // adopt childrens height
      font-size: 1.5em; // set font size for text and icons
      padding-left: 0; // remove default ul padding
  }
  li {
    list-style: none; // remove default li bullet
    display: inline-block; // get li to flow inline !IE7
    text-transform: uppercase; // make all caps
    margin-bottom: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .social-list {
    text-align: center;
    margin: auto;
    width: 180px;
    position: relative;
    height: 55px;
    clear: both;
    // taking care of some weird width issues from the social buttons
    overflow: hidden;
    @media (max-width: $screen-md-min) {
      margin-top: -15px;
      margin-bottom: 15px;
    }

    .twitter {
      text-align: center;
      //width: 60px;
      display: block;

    }
    .fb-follow{
      text-align: left;
      display: block;
      @media (max-width: $screen-md-min) {
        text-align: center;
        top: 10px;
        //padding-left: 15px;
      }
    }

  @media (min-width: $screen-md-min) {
    left: 18px;
    text-align: left;
    width: 20%;
    position: absolute;
    top: 38px;

    .twitter {
      display: block;
      position: absolute;
      left: 0px;
      top: 35px;
    }
    .facebook{
      padding-left: 0px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }

  }

  }

}

body.loading .footer .social-list .fb-follow span iframe {
  visibility: hidden !important;
}