.footer {
  ul{
      overflow: auto; // adopt childrens height
      font-size: 1.7em; // set font size for text and icons
      padding-left: 0; // remove default ul padding
  }
  li {
    list-style: none; // remove default li bullet
    display: inline-block; // get li to flow inline !IE7
    text-transform: uppercase; // make all caps
    margin-bottom: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .social-list {
    padding-left: 20px;
    margin-top: 2em;
    line-height: 4em;
    width: 120px;
    }
      twitter-follow-button {
      text-align:left;
    }
      fbook-follow-button{
      text-align:left;
  }

}