.footer .subscribe-wrapper{
  max-width: 400px;
  font-family: $jose;
  font-size: 1.8em;
  font-weight: 600;
  color: $black;
  letter-spacing: 0.05em;
  text-align: center;
  h3 {
    font-family: $jose;
    font-size: 1.1em;
    font-weight: 600;
    color: $black;
    letter-spacing: 0.05em;
  }
  #mc_embed_signup {
  background-color: $grey;
  height: 100%; // to include child error messages
  margin: 20px;
  margin-top: 10px;

    form {
      border: solid $black 1px;
      overflow: auto;
    }

    .message {
      padding-top: 1em;
      color: red;
    }

    input.button {
      text-transform: lowercase;
      text-align: center;
      height: 1.5em;
      width: 30%;
      float: right;
      padding: 2px;
      vertical-align: middle;
      border: solid 1px $grey;
      border-left: none;
      color: white;
      background-color: $black;
      font-size: 16px;

      &:hover {
        background-color: $vvv-blue;
        @include transition( background-color .25s ease-in-out );
      }
      &:focus {
        background-color: $black;
        @include transition( background-color .25s ease-in-out );
        outline: none;
      }
    }

    input[type="text"], input[type="email"] {
      height: 1.5em;
      border: solid 1px $grey;
      background-color: $grey;
      padding: 2px;
      vertical-align: middle;
      padding-left: 5px;
      float:left;
      font-size: 16px;
      width: 70%;
      &:focus {
        background-color: white;
        @include transition( background-color .25s ease-in-out );
        outline: none;
      }
    }
  }
  text-align: center;
  margin: auto;
  // cats go three up
}