body.posts.show header{

  .header-image-wrapper{
    max-height: 400px;
    width: 100%;
    @media (min-width: $screen-lg-min) {
      width: 80%;
      padding-right: 0px;
    }
    padding-right: 40px;
    top: 60px;
    overflow: hidden; // keep img in check

    position: fixed;
    z-index: -1;

    .header-image{
      width: 100%;
      top: 60px;
    }
  }

  @media (min-width: $screen-md-min) {}

}

blockquote {
    border-left: solid 8px #DEDEDE;
}

pre {
  background: none;
  border: none;
}

.meta-content {
  text-align: center;
}