/*

  div#posts-region
    div.posts

*/


body.posts.list #posts-region{
  @media (min-width: $screen-sm-min){
    padding-top: 1vw; // TOP
  }

}

body.posts.list .posts {
  width: 100%;
 	margin: 0 auto;
 	margin-top: 8px;
  	overflow: auto;  // @include padding-breakdown;
}