body.posts.list .posts {
  // max-width: $global-max-width;

  	 width: 100%;
 	 margin: 0 auto;
  	 overflow:  // @include padding-breakdown;
 auto;

  @media (min-width: $screen-md){
    padding-top: $collapsed-nav;
  }
}