/*

<article class="post">

  <div class="post-image-wrapper">
    <img class="post-img" src="#" alt="">
  </div>

  <div class="content-wrapper">
    <h2 class="title"></h2>
    <p class="authors"></p>
    <p class="date"></p>
    <p class="tags"></p>
    <p class="excerpt"></p>
    <a class="more-cta" href="#">Read More ›</a>
  </div>

</article>

*/

// body.posts.list .posts .post {
body.posts.list .post {
  width: 100%;
  cursor: pointer;

  margin-bottom: 20px; // reveal black background
  padding-bottom: 16px;

  background: white;

  .date {
    display: inline;
    font-family: $jose;
    font-weight: bold;
    color: $mid-grey;
    letter-spacing: 0.05em;
    font-size: 1.6em;
  }
  .tags {
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    letter-spacing: 0.05em;
    font-size: 1.4em;
    margin-bottom: 0px;
    padding-left: 0px;
    li {
      display: inline;
      border: solid 1px $vvv-blue;
      padding: 3px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 2px;
      margin-right: 3px;
      margin-left: 0px;
      margin-bottom:4px;
      line-height: 2.2em;
      //@include transition( border .25s ease-in-out );
      //@include transition( color .25s ease-in-out );
      &:hover {
        
        border: solid 1px $vvv-blue;
        
      }
    }
    list-style-type: none;
  }
  .authors {
    display: inline;
    li {display: inline; margin-right: 12px;}
    list-style-type: none;
    padding-left: 0px;
    font-family: $jose;
    font-weight: bold;
    color: $vvv-blue;
    letter-spacing: 0.05em;
    font-size: 2em;
    margin-top: 2px;
    padding-right: 10px;
  }
  .title {
    font-family: $jose;
    width: 100%;
  }
  .excerpt {
    font-size: 1.9em;
    @include transition( font-size .25s ease-in-out );
    @media (max-width: $screen-sm-min) {
      font-size: 1.7em;
    }
    margin-bottom: 13px;
    margin-top: 8px;
  }

   .post-hi {
      padding-top: 0px;
      margin-bottom:2px;
      @include transition( all .25s ease-in-out );
      box-shadow: inset 0 5px 0px 0px $grey;
      -moz-box-shadow: inset 0 5px 0px 0px $grey;
      -webkit-box-shadow: inset 0 5px 0px 0px $grey;
   }

  &:hover{
    .post-hi {
      box-shadow: inset 0 5px 0px 0px $mid-grey;
      -moz-box-shadow: inset 0 5px 0px 0px $mid-grey;
      -webkit-box-shadow: inset 0 5px 0px 0px $mid-grey;
      padding-top: 2px;
      margin-bottom: 0px;
    }
    .title {
      color: $mid-grey;
    }
  }


  .post-image-wrapper{
    width: 100%;
    max-height: 200px; // the image cannot be taller than the screen
    overflow: hidden;
    img{
      width: 100%;
    }

  }

  .content-wrapper{
    padding: 0 20px;

    .title{
      font-size: 2.8em;
      margin-bottom: 10px;
      @include transition( color .4s ease-in-out );
    }
    .author{}
    .date{}
    .tags{}
    .excerpt{}
    .more-cta{
      text-transform: uppercase;
      font-size: 1.3em;
      &:hover{
        text-decoration: none;
      }
    }
  }

  // @media (min-width: $screen-xs-min){}

  // @media (min-width: $screen-sm-min){
  //   width: 50%;
  //   float: left;
  // }
  // @media (min-width: $screen-md-min){
  //   width: 33.333333%;
  // }
  // @media (min-width: $screen-lg-min){
  //   width: 25%;
  // }
}