body.posts.list .posts .post {
  width: 100%;
  cursor: pointer;

  margin-bottom: 20px; // reveal black background
  padding-bottom: 20px;

  background: white;


  .post-image-wrapper{
    width: 100%;
    max-height: 100vw; // the image cannot be taller than the screen
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  .post-title,
  .post-excerpt,
  .post-more{
    padding: 0 20px;
  }

  .post-title{
    font-size: 3em;
    margin-bottom: 10px;
    font-family: $jose;
  }

  .post-excerpt{}

  .post-more{
    text-transform: uppercase;
    font-family: $jose;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 1.3em;
    &:hover{
      text-decoration: none;
      transition: text-decoration .25s ease-in-out;
      -moz-transition: text-decoration .25s ease-in-out;
      -webkit-transition: text-decoration .25s ease-in-out;
    }
  }

  @media (min-width: $screen-xs-min){}

  @media (min-width: $screen-sm-min){
    width: 47vw;
    float: left;
    // margin: 10px 1vw;
  }
  @media (min-width: $screen-md-min){
    width: 30.8vw;
  }
  @media (min-width: $screen-lg-min){
    width: 23vw;
    // margin: 10px 0.5vw;
  }
}