body.posts.list .posts .post {
  position: relative;

  background: white;
  border: 1px solid rgba(black, 0.5);
  @include padding-breakdown;
  margin: 10px 0;

  .post-title{
    margin-top: 0;
  }
  .post-image-wrapper{
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
    img{
      width: 100%;
    }
  }
  .post-excerpt{
    font-size: 1.6em;
  }

  @media (min-width: $screen-sm){
    margin: 10px;
    width: 46%;
    float: left;
  }
  @media (min-width: $screen-md){
    width: 30%;
  }
  @media (min-width: $screen-lg){
    width: 22%;
  }
}