  /////////////////////
 //  SPLASH REGION  //
/////////////////////

.thread {
  .meta-content {
    text-align: center;
  }
  .header-image {
    width:100%;
  }
  .post-image-wrapper {
    max-height:400px;
    overflow: hidden;
  }
  .title {
    font-family: $jose;
    font-size: 49px;
  }
  .thread-curator {
    li {display: inline;}
    padding-left: 0px;
    list-style-type: none;
    font-family: $jose;
    font-weight: bold;
    color: $avant-blue;
    font-size: 26px;
    @media (max-width: $screen-md-min) {
      font-size: 26px;
    }
    display: inline;
  }
  .thread-sponsor {
    padding-left: 0px;
    list-style-type: none;
    font-family: $crimson;
    color: $black;
    font-size: 19px;
    margin-bottom:20px;
    @media (max-width: $screen-md-min) {
      font-size: 19px;
    }
  }
}
.excerpt {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.content{
	font-size:19px;
	font-family:$crimson;
	margin-top:20px;
	margin-bottom:40px;
}

.share-buttons {
text-align: center;

.fbook-share {
  &:hover {cursor:pointer;}
  height: 32px;
  margin-left: 3px;
  padding-top: 11px;
  padding-bottom: 5px;
  padding-right: 11px;
  padding-left: 11px;
  a {text-decoration: none;}
  border: 1px solid #4964a1;
  @include transition( all .25s ease-in-out );
  display: inline;
  &:hover {
    border: 1px solid #4964a1;
    background: #4964a1;
    .share-child {
      color: $white;
    }
  }
  .share-facebook {
    font-size: 14px;
  }
  .share-text {
    font-size: 16px;
    font-family: $jose;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 4px;
  }
  .share-share {
    font-size: 14px;
    margin-left: 4px;
  }
  .share-child {
    display: inline;
    color: #4964a1;
  }
}

.twitter-share {
  &:hover {cursor:pointer;}
  height: 32px;
  padding-top: 11px;
  padding-bottom: 5px;
  padding-right: 11px;
  padding-left: 11px;
  a {text-decoration: none;}
  margin-left: 10px;
  border: 1px solid #55acee;
  display: inline;
  @include transition( all .25s ease-in-out );
  &:hover {
    border: 1px solid #55acee;
    background: #55acee;
    .share-child {
      color: $white;
    }
  }
  .share-twitter {
    font-size: 14px;
  }
  .share-text {
    font-size: 16px;
    font-family: $jose;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 4px;
  }
  .share-share {
    font-size: 14px;
    margin-left: 4px;
  }
  .share-child {
    display: inline;
    color: #55acee;
  }
}
}