nav.nav .nav-viewport{
  position: fixed;
  z-index: 9;

  width: calc(100% - 40px);
  height: $collapsed-nav;

  background: $grey;
  // color: $grey;

  border-bottom: 1px solid $black;
  a {text-decoration: none;}
  .nav-logo {
    display: block;
    margin: 8px auto;
    margin-top: 4px;
    padding-left: 8px;
    text-align:center;
    float: center;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: $screen-sm-min) {
    width: 180px;
    position: absolute;
    left: 18px;
    text-align: left;
    }

    .AV {
      vertical-align:22%;
      display: inline;
      font-size: 2.5em;
      color: $black;
      letter-spacing: .5em;
      padding-right: 5px;
      @media (max-width: $screen-sm-min){
        display: none;
      }
    }
    .NT {
      vertical-align:22%;
      display: inline;
      font-size: 2.5em;
      color: $black;
      letter-spacing: .5em;
      padding-left: 0px;
      margin-left: -1px;
      @media (max-width: $screen-sm-min){
        display: none;
      }
    }
    .logo-circle {
      line-height: 1.1em;
      display: inline;
      text-align: center;
      position: relative;
      margin-left: -12px;
      font-size: 4.9em;
      background-image: url('http://vvvnt.s3.amazonaws.com/staging/b11b7438-f9f5-46af-7bc9-6c1442f22b48.jpg');
      background-size:58px;
      background-position: 50% 50%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-align: left;
      z-index: -1;
    }
    .logo-a {
      font-family: $jose;
      font-weight: 800;
      font-size: 0.7em;
      color: $grey;
      text-decoration: none;
      z-index: 1;
      position: absolute;
      margin-top: -3px;
      margin-left: -45px;
      -moz-transform:rotate(-180deg); /* Firefox */
      -webkit-transform:rotate(-180deg); /* Webkit */
      -ms-transform:rotate(-180deg); /* IE */
      -o-transform:rotate(-180deg); /* Opera */
      transform:rotate(-180deg); /* future */
      @media (max-width: $screen-sm-min){
        margin-left:-33px;
      }
    }
  }

  .social-links {

    float: right;
    padding-right: 10px;
    margin-right: 20px;
    .fa-stack {
      &:hover{
      .fa-stop {
        color: #3b5998;
        @include transition( color .25s ease-in-out );
        }
      }
    }

    .fa-twitter {
    position: absolute;
    top: 24px;
    font-size: 17px;
    color: $black;
    margin-left: -52px;
    &:hover{
      color: #55acee;
    @include transition( color .25s ease-in-out );
    }
    }
    .fa-stack {
    position: absolute;
    margin-left: -30px;
    top: 24px;
    }
    .fa-stop {
    font-size: 15px;
    color: $black;
    padding-right: 4px;
    }
    .fa-facebook {
    font-size: 12px;
    margin-left:-1px;
    margin-top: -3px;
    }
    .fa-rss {
    margin-left: 0px;
    position: absolute;
    top: 24px;
    font-size: 15px;
    color: $black;
    &:hover{
      color: #F0B14D;
    @include transition( color .25s ease-in-out );
    }
    }
  }

  .title{
    float: right;
    font-size: 1.8em;
    padding-top: 2px;
    display: inline;
    font-family: $jose;
    // text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: $vvv-blue;
      @include transition( color .25s ease-in-out );
    }
  }

  .menu {
    float: right;
    padding-right: 20px;

    a {
      color: $black;
      &:hover{}
    }
  }

  @media (min-width: $screen-sm-min) {
    width: 100%;
  }

  @media (min-width: $screen-lg-min) {
    width: 80%;
    margin: 0 auto;
  }
}


// to achieve the center, padded nav bar
nav.nav {

  @media (min-width: $screen-lg-min) {
    padding: 0 10%;
    margin-left: -10%;
  }
}