/*

## Header Menu

Current search lives in the menu and stuff.

```
<div id="header">
  <div class="row">

    <div class="logo-container small-4 columns">
      <a class="logo" href="#posts" data-dropdown="hover1" data-options="is_hover:true">
        <h2>Moonrakr</h2>
      </a>
      <ul id="hover1" class="f-dropdown" data-dropdown-content>
        <li><a href="#posts">Posts</a></li>
        <li><a href="#users">Users</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>

    <div id="search" class="small-4 columns">
      <div class="row">
        <form>
          <div class="form-group">
            <h3 id="search-input" class="small-8 columns" contenteditable="true">SEARCH</h3>
          </div>
          <button class="js-submit small-4 small columns">Search</button>
        </form>
      </div>
    </div>
    <div id="login" class="small-4 columns">
      <div>
        <div class="login-container">
          <a href="#login" class="login"><img class="unlogged" src="/images/unlogged.png"></a>
          <a href="#login" class="login">login</a>
        </div>
      </div>
    </div>

  </div>
</div>

```

*/

.unlogged {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.unlogged:hover {
  opacity: 0.5;
  }


