nav.nav .nav-viewport{

	.social-links {

	    float: right;
	    padding-right: 10px;
	    margin-right: 20px;

	    .fa-stack {
	      	&:hover{
		      .fa-stop {
		        color: #3b5998;
		        }
	      	}
	    }

	    .fa-twitter {
		    position: absolute;
		    top: 24px;
		    font-size: 16px;
		    color: $black;
		    @include transition( color .25s ease-in-out );
		    margin-left: -52px;
		    &:hover{
		      color: #55acee;
		    }
	    }

	    .fa-stack {
		    position: absolute;
		    margin-left: -30px;
		    top: 24px;
	    }

	    .fa-stop {
		    font-size: 15px;
		    color: $black;
		    padding-right: 4px;
		    @include transition( color .25s ease-in-out );
	    }

	    .fa-facebook {
		    font-size: 12px;
		    margin-left:-1px;
		    margin-top: -3px;
		    color: $grey;
	    }

	    .fa-rss {
		    margin-left: 0px;
		    position: absolute;
		    top: 25px;
		    font-size: 15px;
		    color: $black;
		    @include transition( color .25s ease-in-out );
		    &:hover{
		      color: #F0B14D;
		    }
	    }
  	}
}