nav.nav .nav-viewport{

	.social-links {

	    position: absolute;
	    top: 25px;
	    right: 23px;

	    #menu-twitter {
	    	font-size: 1.3em;
	    	color: $black;
	    	padding-left: 16x;
	    	@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #55acee;
    		}
	    }
		#menu-facebook {
			font-size: 1.3em;
			color: $black;
			padding-left: 16px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #4964a1;
    		}
		}
		#menu-instagram {
			font-size: 1.3em;
			color: $black;
			padding-left: 16px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #085885;
    		}
		}
		#menu-rss {
			font-size: 1.3em;
			color: $black;
			padding-left: 16px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #faab49;
    		}
		}	
  	}
}