nav.nav .nav-viewport{

	.social-links {

	    position: absolute;
	    top: 23px;
	    right: 00px;

	    .menu-sub{
	    	opacity:0;
	    	@include transition( all .25s ease-in-out );
	    	padding-right:-20px;
	    	color: $black;
	    	padding-top:19px;
	    	padding-bottom:19px;
	    }

	    #menu-twitter {
	    	font-size: 1.4em;
	    	padding-left: 13px;
	    	@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #55acee;
    		}
	    }
		#menu-facebook {
			font-size: 1.4em;
			padding-left: 13px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #4964a1;
    		}
		}
		#menu-instagram {
			font-size: 1.4em;
			padding-left: 13px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #517fa4;
    		}
		}
		#menu-soundcloud {
			font-size: 1.6em;
			padding-left: 12px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #f50;
    		}
		}
		#menu-vimeo {
			font-size: 1.4em;
			padding-left: 12px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #45bbff;
    		}
		}
		#menu-youtube {
			font-size: 1.4em;
			padding-left: 13px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #bb0000;
    		}
		}
		#menu-github {
			font-size: 1.5em;
			padding-left: 12px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #4183c4;
    		}
		}
		#menu-rss {
			font-size: 1.4em;
			padding-left: 13px;
			padding-right: 13px;
			@include transition( color .25s ease-in-out );
	    	&:hover{
      			color: #faab49;
    		}
		}
		.el-icon-plus-sign {
			font-size: 1.5em;
			color: $black;
			top:22px;
			@include transition( all .10s ease-in-out );
			-ms-transform-origin: 49.5% 49.5%; /* IE 9 */
			-webkit-transform-origin: 49.5% 49.5%; /* Chrome, Safari, Opera */
			-moz-transform-origin: 49.5% 49.5%; /* Mozilla */
			transform-origin: 49.5% 49.5%;
	    	display: inline-block;
		}
	    .menu-plus-wrapper {
    		padding-right:20px;
    		padding-top: 20px;
    		padding-bottom: 20px;
    	}
  	}
 	.social-links:hover {
		.menu-sub{
    		opacity:1;
    	}
    	.el-icon-plus-sign {
      		-ms-transform: rotate(90deg); /* IE 9 */
   			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   			-moz-transform: rotate(90deg); /* Mozilla */
    		transform: rotate(90deg);
    		color: $avant-blue;
    	}
    	.menu-plus-wrapper {
    		cursor:pointer;
    	}
   	}
   	.social-links {
		.menu-sub-press{
			opacity:1;
		}
    	.menu-plus-press {
      		-ms-transform: rotate(90deg) !important; /* IE 9 */
   			-webkit-transform: rotate(90deg) !important; /* Chrome, Safari, Opera */
   			-moz-transform: rotate(90deg) !important; /* Mozilla */
    		transform: rotate(90deg) !important;
    		color: $avant-blue !important;
    	}
   	}
}