<div class="nav-viewport">

  <!-- collapse toggle -->
  <a class="menu-toggle" href="#" data-toggle="collapse" data-target="#menu">
    <i class="fa fa-bars pull-left hamburger"></i>
  </a>

  <!-- item views here -->
  <div id="menu" class="menu collapse">

    <div class="card extra">
      <!-- social buttons -->
      <ul class="social-list">
        <li>
          <a href="" class="twitter">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-dark icon"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="" class="facebook">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-dark icon"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="" class="google">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-dark icon"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="" class="youtube">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-dark icon"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="menu-viewport-shim"></div>

  <div class="nav-logo">
    <a href="/home.html">
      <img class="logo" src="/images/logo.png" alt="Avant">
    </a>
  </div>

</div>